<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BusAddress" value="amqp://albatross.rmq.cloudamqp.com/hozdevrj" />
    <add key="BusUser" value="hozdevrj" />
    <add key="BusPass" value="QyC8bmQu_iqqq4h3CdcR-yKQR6p736N5" />
    <add key="QueueName" value="DemoQueue" />
    <add key="ConnectionName" value="CoolGuy" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>